[Desktop Entry]
Type=Application
Name=Bluecherry Client
Categories=Network;Qt
Comment=Bluecherry DVR Client
Icon=com.bluecherrydvr.Client
Exec=bluecherry-client
Terminal=false
